@charset "utf-8";
body {
	padding-top: 10px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 0px;
	position: relative;
	background-color: #F0F0F0;
	background-image: url(assets/img/headerctbg.jpg);
	background-repeat: repeat-x;
}
#head-align {
	clear: both;
	height: 195px;
	width: auto;
}
#head {
	clear: both;
	height: 195px;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#corpo-align {
	clear: both;
}
#corpo {
	background-color: #FFF;
	clear: both;
	height: auto;
	width: 950px;
	border: 1px solid #D6D6D6;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.form-chama {
	width: 905px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	background-color: #F2F2F2;
	margin: 10px;
	float: left;
}
.form-chama h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}
.form-chama span {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	display: block;
}
.form-chama p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #000;
	text-decoration: none;
}

#logo-nepre {
	float: left;
	height: 171px;
	width: 166px;
	margin-top: 10px;
	margin-left: 5px;
}
#logo-ufmt {
	float: right;
	height: 120px;
	width: 320px;
	margin-top: 40px;
	margin-right: 20px;
}
#logo-ufmt img {
	margin-right: 25px;
}

#formul {
	float: left;
	width: 930px;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
#formul strong {
	font-size: 14px;
	margin-top: 8px;
	float: left;
	padding-top: 10px;
	padding-bottom: 4px;
	padding-right: 10px;
	font-weight: bold;
	color: #000;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #C0C0C0;
	width: 600px;
}
#formul b {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}


.tipe1 {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 3px;
	text-transform: uppercase;
}
.tipe1:focus , .tipe2:focus, .tipe3:focus, .tipe1tiny:focus{
	border: 1px solid #333;
}

.tipe2 {
background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 3px;
}
.tipe3 {
	background-color: #FFF;
	width: 23px;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D8D8D8;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #D8D8D8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}


.tipe1tiny {
	background-color: #FFF;
	width: 70px;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 7px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #D8D8D8;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #D8D8D8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}
.submitbutton {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #E9E9E9;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.submitbutton:hover, .submitbutton:focus, .submitbutton:active, .submitbutton.active, .submitbutton.disabled, .submitbutton[disabled] {
	color: #FFF;
	background-color: #e6e6e6;
}
[disabled] { /* Text and background colour, medium red on light yellow */
	background-color: #F0F0F0;
}
#data_show, #graduacao_show, #posgraduacao_show{
	background-color: #F0F0F0;
	padding-top: 0px;
	padding-bottom: 10px;
}
.info-visu {
	background-color: #DCECD5;
	padding: 10px;
	float: left;
	width: 910px;
}
.info-visu span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.info-visu p {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	color: #000;
}
.pror {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #F00;
}
.lest {
	font-weight: normal;
}
