/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/
* {margin:0; padding:0}
html, body, #wrap {height: 99.3%;}

/* CLEAR FIX*/
body {
	padding-top: 10px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 0px;
	position: relative;
	background-color: #FFFFFF;
	background-image: url(../img/headerctbg.jpg);
	background-repeat: repeat-x;
}

@media (max-width: 979px) {
}
#header-align {
	height: auto;
	width: auto;
	margin: 0px;
	clear: both;
	overflow: hidden;
}

#header {
	clear: both;
	height: 155px;
	width: 850px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../img/crossline.jpg);
	background-repeat: no-repeat;
	background-position: 370px center;
}

#logo {
	float: left;
	height: 102px;
	width: 312px;
	margin-top: 25px;
}
#departinfo {
	float: right;
	height: 100px;
	width: 450px;
	text-align: right;
	padding-top: 55px;
}
#departinfo p {
	float: right;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #595959;
}
#departinfo span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #1D1D1D;
	display: block;
}

#section-align {
	height: auto;
	width: auto;
	margin: 0px;
	clear: both;
}
#section-bgcompose {
	height: auto;
	width: 1000px;
	clear: both;
	overflow: hidden;
	background-image: url(../img/maincontentbg.jpg);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#principalinfo {
	clear: both;
	height: auto;
	width: 850px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#section-info {
	float: left;
	height: auto;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#section-info h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #8C0000;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px !important;
}
#section-info p {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}
#section-info .title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #1F1F1F;
}
#section-info .email {
	display: block;
	background-image: url(../img/emailicon.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: left center;
	font-weight: bold;
	color: #595959;
	font-size: 12px;
	margin-top: 0px;
}
#section-info .email a {
	color: #666;
}
#section-info .duv {
	font-weight: bold;
	margin-top: 15px;
	font-size: 12px;
	display: block;
}


#section-signup {
	float: right;
	height: 100px;
	width: auto;
	margin-top: 50px;
	padding-top: 15px;
	margin-right: 65px;
}
#section-signup span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #444444;
	display: block;
	font-weight: bold;
}
#footer-align {
	clear: both;
	height: auto;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: #F5F5F5;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E5E5E5;
}
#mainfooter {
	width: 850px;
	clear: both;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
#mainfooter p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 15px;
	margin: 0px;
}
#section-choose {
	clear: both;
	height: 220px;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
}
