body {
	padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 10px;
	position: relative;
	background-color: #F0F0F0;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

#components {
  min-height: 500px;
}

#target fieldset {
  border: 1px solid #ccc;
  min-height: 200px;
  padding: 5px;
  padding-bottom: 30px;
}

.component {
  cursor: pointer;
}

input {
  cursor: pointer;
}

.popover .control-group {
}
.popover input {
  cursor: text;
}

.temp{
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  z-index: 999999;
  top: 0;
  overflow-x: hidden;
  left: 0;
}

.temp form {
  padding: 8px 4px;
  border: 1px dotted #ccc;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 30px #999;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  overflow: hidden;
}

#render{
  min-height: 500px;
  font-family: monospace;
}

/* Popovers now are appended to their parent rather
than to the body/main document as they once were.
We need to over-ride some inherited stuff.. */
form .popover .controls {
  margin-left: 0;
}

form .popover .control-label {
  text-align: left;
}
form .popover form {
  width: 224px;
}

.popover-content form .btn{
  margin-right: 10px
}

.target:after{
  float:left;
  content: " ";
  height: 77px; 
  margin-top: 3px;
  background: #f0f0f0;
  width: 100%;
  border: 1px dashed #ccc;
}

#target, #input, #radioscheckboxes, #select, #buttons {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

#target fieldset{
 width: 100%;
 overflow: hidden;
}
#content-holder {
	clear: both;
	width: 650px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	border-radius: 10px;
}
#content-holder-finished {
	clear: both;
	width: 400px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	border-radius: 10px;
	text-align: center;
}
.biggerstep {
	font-size: 22px;
	color: #666;
	display: block;
	margin-top: 0px;
	clear: both;
	width: 700px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	text-align: right;
}.cp {
	display: block;
	margin-bottom: 15px !important;
	float: right;
	width: 200px;
}.centralize {

	display: block;
	margin-top: auto;
	margin-bottom: auto;

}
.centralize big {
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 5px;
	background-color: #EBEBEB;
	border-radius: 5px;
	padding: 5px;
	clear: both;
}
.printsector {
	display: block;
	background-image: url(../img/printicon.gif);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
	padding-left: 22px;
	color: #333;
	margin-left: 125px;
	margin-top: 10px;
}
.printsector a {
	color: #666;
}
